
@if (Session["Usuario"] != null)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Seminario Nazareno</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <!-- favicon
           ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
        <script src="https://kit.fontawesome.com/3240bff69b.js" crossorigin="anonymous"></script>

        <!-- Google Fonts
            ============================================ -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
        <!-- Bootstrap CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <!-- Bootstrap CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/font-awesome.min.css">
        <!-- owl.carousel CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/owl.carousel.css">
        <link rel="stylesheet" href="~/Content/owl.theme.css">
        <link rel="stylesheet" href="~/Content/owl.transitions.css">
        <!-- animate CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/animate.css">
        <!-- normalize CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/normalize.css">
        <!-- meanmenu icon CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/meanmenu.min.css">
        <!-- main CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/main.css">
        <!-- educate icon CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/educate-custon-icon.css">
        <!-- morrisjs CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/morrisjs/morris.css">
        <!-- mCustomScrollbar CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/scrollbar/jquery.mCustomScrollbar.min.css">
        <!-- metisMenu CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/metisMenu/metisMenu.min.css">
        <link rel="stylesheet" href="~/Content/metisMenu/metisMenu-vertical.css">
        <!-- calendar CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/calendar/fullcalendar.min.css">
        <link rel="stylesheet" href="~/Content/calendar/fullcalendar.print.min.css">
        <!-- style CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/Site.css">
        <!-- responsive CSS
            ============================================ -->
        <link rel="stylesheet" href="~/Content/responsive.css">
        <!-- modernizr JS
            ============================================ -->
        <script src="~/Scripts/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header">
                    <a href="/"><img class="main-logo" src="~/img/logo/logo.png" alt="" /></a>
                    <strong><a href="#"><img src="~/img/logo/logosn.png" alt="" /></a></strong>

                </div>
                @if (Session["Tipo"].ToString() == "1")
                {
                    <div class="left-custom-menu-adp-wrap comment-scrollbar">
                        <nav class="sidebar-nav left-sidebar-menu-pro">
                            <ul class="metismenu" id="menu1">
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Categoria Productos</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        @Html.ActionLink("Categorias", "index", "CategoriaProducto", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Categoria", "Create", "CategoriaProducto", null, new { @class = "mini-sub-pro" })
                                    </ul>
                                </li>

                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Distrito Eclesiastico</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        @Html.ActionLink("Distritos Eclesiasticos", "index", "DistritoEclesiastico", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar D.Eclesiastico", "Create", "DistritoEclesiastico", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Facturacion</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        @Html.ActionLink("Facturas", "index", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Factura", "Create", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Iglesia</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        @Html.ActionLink("Iglesias", "index", "Iglesia", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Iglesia", "Create", "Iglesia", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Metodo de pago</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        @Html.ActionLink("Metodos de Pago", "index", "MetodoPago", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Metodo", "Create", "MetodoPago", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-interface icon-wrap"></span> <span class="mini-click-non">Paises</span></a>
                                    <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                                        @Html.ActionLink("Paises", "index", "Pais", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Pais", "Create", "Pais", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-charts icon-wrap"></span> <span class="mini-click-non">Personas</span></a>
                                    <ul class="submenu-angle chart-mini-nb-dp" aria-expanded="false">
                                        @Html.ActionLink("Personas", "index", "Persona", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Persona", "Create", "Persona", null, new { @class = "mini-sub-pro" })
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">Productos</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        @Html.ActionLink("Productos", "index", "Producto", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Producto", "Create", "Producto", null, new { @class = "mini-sub-pro" })
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href=""><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                    <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                        @Html.ActionLink("Lista de usuarios", "Lista_Usuarios", "Reporte", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="l"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">Tipo Usuario</span></a>
                                    <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">

                                        @Html.ActionLink("Tipos Usuario", "index", "TipoUsuario", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Tipo", "Create", "TipoUsuario", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="l"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">Usuario</span></a>
                                    <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">

                                        @Html.ActionLink("Usuarios", "index", "Usuario", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Crear Usuario", "Create", "Usuario", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                }
                else if (Session["Tipo"].ToString() == "2")
                {

                    <div class="left-custom-menu-adp-wrap comment-scrollbar">
                        <nav class="sidebar-nav left-sidebar-menu-pro">
                            <ul class="metismenu" id="menu1">
                                <li>
                                    <a class="has-arrow" href="#"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Facturacion</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        @Html.ActionLink("Facturas", "index", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })
                                        @Html.ActionLink("Agregar Factura", "Create", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href=""><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                    <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                        @Html.ActionLink("Factura Usuario", "Factura_Usuario", "Reporte", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>

                }
                else
                {
                    <div class="left-custom-menu-adp-wrap comment-scrollbar">
                        <nav class="sidebar-nav left-sidebar-menu-pro">
                            <ul class="metismenu" id="menu1">
                                <li>
                                    <a class="has-arrow" href=""><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                    <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                        @Html.ActionLink("Factura Usuario", "Factura_Usuario", "Reporte", null, new { @class = "mini-sub-pro" })

                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }
            </nav>
        </div>


        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            <a href="#"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row" style="margin-left: 7px;">
                                        <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                            <div class="menu-switcher-pro">
                                                <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                    <i class="educate-icon educate-nav"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="header-right-info">
                                                <div class="nav navbar-nav mai-top-nav header-right-menu">
                                                    <a href="@Url.Action("LogOut","Usuario")" class="btn btn-default">Cerrar Sesion <i class="fas fa-sign-out-alt"></i> </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        @if (Session["Tipo"].ToString() == "1")
                                        {
                                            <ul class="mobile-menu-nav">
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Categoria Productos</span></a>
                                                    <ul class="submenu-angle" aria-expanded="false">
                                                        @Html.ActionLink("Categorias", "index", "CategoriaProducto", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Categoria", "Create", "CategoriaProducto", null, new { @class = "mini-sub-pro" })
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Distrito Eclesiastico</span></a>
                                                    <ul class="submenu-angle" aria-expanded="false">
                                                        @Html.ActionLink("Distritos Eclesiasticos", "index", "DistritoEclesiastico", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar D.Eclesiastico", "Create", "DistritoEclesiastico", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Facturacion</span></a>
                                                    <ul class="submenu-angle" aria-expanded="false">
                                                        @Html.ActionLink("Facturas", "index", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Factura", "Create", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Iglesia</span></a>
                                                    <ul class="submenu-angle" aria-expanded="false">
                                                        @Html.ActionLink("Iglesias", "index", "Iglesia", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Iglesia", "Create", "Iglesia", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Metodo de pago</span></a>
                                                    <ul class="submenu-angle" aria-expanded="false">
                                                        @Html.ActionLink("Metodos de Pago", "index", "MetodoPago", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Metodo", "Create", "MetodoPago", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-interface icon-wrap"></span> <span class="mini-click-non">Paises</span></a>
                                                    <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                                                        @Html.ActionLink("Paises", "index", "Pais", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Pais", "Create", "Pais", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-charts icon-wrap"></span> <span class="mini-click-non">Personas</span></a>
                                                    <ul class="submenu-angle chart-mini-nb-dp" aria-expanded="false">
                                                        @Html.ActionLink("Personas", "index", "Persona", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Persona", "Create", "Persona", null, new { @class = "mini-sub-pro" })
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">Productos</span></a>
                                                    <ul class="submenu-angle" aria-expanded="false">
                                                        @Html.ActionLink("Productos", "index", "Producto", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Producto", "Create", "Producto", null, new { @class = "mini-sub-pro" })
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href=""><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                                    <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                                        @Html.ActionLink("Factura Usuario", "Factura_Usuario", "Reporte", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="l"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">Tipo Usuario</span></a>
                                                    <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">

                                                        @Html.ActionLink("Tipos Usuario", "index", "TipoUsuario", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Tipo", "Create", "TipoUsuario", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href="l"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">Usuario</span></a>
                                                    <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">

                                                        @Html.ActionLink("Usuarios", "index", "Usuario", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Crear Usuario", "Create", "Usuario", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                            </ul>
                                        }
                                        else if (Session["Tipo"].ToString() == "2")
                                        {
                                            <ul class="metismenu" id="menu1">
                                                <li>
                                                    <a class="has-arrow" href="#"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Facturacion</span></a>
                                                    <ul class="submenu-angle" aria-expanded="false">
                                                        @Html.ActionLink("Facturas", "index", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })
                                                        @Html.ActionLink("Agregar Factura", "Create", "EncabezadoFactura", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="has-arrow" href=""><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                                    <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                                        @Html.ActionLink("Factura Usuario", "Factura_Usuario", "Reporte", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>

                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="metismenu" id="menu1">
                                                <li>
                                                    <a class="has-arrow" href=""><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                                    <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                                        @Html.ActionLink("Factura Usuario", "Factura_Usuario", "Reporte", null, new { @class = "mini-sub-pro" })

                                                    </ul>
                                                </li>
                                            </ul>
                                        }

                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="container-fluid">

                @RenderBody()

            </div>
            <div class="footer-copyright-area" style="position: fixed;bottom: 0;left: 0;right: 0;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-copy-right">
                                <p>®Seminario Nazareno de las Américas, Todos los derechos reservados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- jquery
        ============================================ -->
        <script src="~/Scripts/vendor/jquery-1.12.4.min.js"></script>
        <!-- bootstrap JS
        ============================================ -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- wow JS
        ============================================ -->
        <script src="~/Scripts/wow.min.js"></script>
        <!-- price-slider JS
        ============================================ -->
        <script src="~/Scripts/jquery-price-slider.js"></script>
        <!-- meanmenu JS
        ============================================ -->
        <script src="~/Scripts/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS
        ============================================ -->
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <!-- sticky JS
        ============================================ -->
        <script src="~/Scripts/jquery.sticky.js"></script>
        <!-- scrollUp JS
        ============================================ -->
        <script src="~/Scripts/jquery.scrollUp.min.js"></script>
        <!-- counterup JS
        ============================================ -->
        <script src="~/Scripts/counterup/jquery.counterup.min.js"></script>
        <script src="~/Scripts/counterup/waypoints.min.js"></script>
        <script src="~/Scripts/counterup/counterup-active.js"></script>
        <!-- mCustomScrollbar JS
        ============================================ -->
        <script src="~/Scripts/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/Scripts/scrollbar/mCustomScrollbar-active.js"></script>
        <!-- metisMenu JS
        ============================================ -->
        <script src="~/Scripts/metisMenu/metisMenu.min.js"></script>
        <script src="~/Scripts/metisMenu/metisMenu-active.js"></script>
        <!-- morrisjs JS
        ============================================ -->
        <script src="~/Scripts/morrisjs/raphael-min.js"></script>
        <script src="~/Scripts/morrisjs/morris.js"></script>
        <script src="~/Scripts/morrisjs/morris-active.js"></script>
        <!-- morrisjs JS
        ============================================ -->
        <script src="~/Scripts/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/Scripts/sparkline/jquery.charts-sparkline.js"></script>
        <script src="~/Scripts/sparkline/sparkline-active.js"></script>
        <!-- calendar JS
        ============================================ -->
        <script src="~/Scripts/calendar/moment.min.js"></script>
        <script src="~/Scripts/calendar/fullcalendar.min.js"></script>
        <script src="~/Scripts/calendar/fullcalendar-active.js"></script>
        <!-- plugins JS
        ============================================ -->
        <script src="~/Scripts/plugins.js"></script>
        <!-- main JS
        ============================================ -->
        <script src="~/Scripts/main.js"></script>
        <!-- tawk chat JS
        ============================================ -->
        <!--  <script src="~/Scripts/tawk-chat.js"></script>-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>

</html>
}
else
{
Response.Redirect("~/Usuario/Login",true);
}