@model CxC_Seminario.DO.CarreraxCurso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarreraxCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carrera.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRelacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
