@model IEnumerable<CxC_Seminario.DO.CarreraxCurso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carrera.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRelacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRelacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRelacion })
        </td>
    </tr>
}

</table>
