@model IEnumerable<CxC_Seminario.DO.Producto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<p>
    <div class="container-fluid">
        <a href="@Url.Action("Create", "Producto")" class="btn btn-primary btn-lg"> Agregar Nuevo</a>
    </div>
</p>
<div class="sparkline8-list">
    <div class="sparkline8-graph">
        <div class="static-table-list">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoriaProducto.IdCategoriaProducto)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoriaProducto.IdCategoriaProducto)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdProducto }, new { @class = "btn btn-warning btn-sm" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProducto }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>