@model IEnumerable<CxC_Seminario.DO.Usuario>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div >
    <div class="sparkline8-list">
        <div class="sparkline8-hd">
            <div class="main-sparkline8-hd">
                <h1>Basic Table</h1>
            </div>
        </div>
        <div class="sparkline8-graph">
            <div class="static-table-list">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Contrasena)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Carrera)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Iglesia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MetodoPago)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Persona)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoUsuario)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contrasena)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Iglesia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetodoPago)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoUsuario)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Usuario1 },new { @class = "btn btn-success"} ) |
                                @Html.ActionLink("Details", "Details", new { id = item.Usuario1 }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Usuario1 })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>