@model IEnumerable<CxC_Seminario.DO.Usuario>

@{
    ViewBag.Title = "Index";
}

<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst">
                    <h4>Lista de Usuarios</h4>
                    <div class="add-product">
                        <a href="@Url.Action("Create", "Usuario")" class="btn btn-primary btn-lg"> Agregar Nuevo</a>
                    </div>
                    <div class="asset-inner">
                        <table>
                            <tr>
                                <th>
                                    Cedula
                                </th>
                                <th>
                                    Nombre de Usuario
                                </th>
                                <th>
                                    Contraseña
                                </th>
                                <th>
                                    Correo
                                </th>

                                <th>
                                    Opciones
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cedula)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario1)
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("ForgotPassword", "Usuario",
                                        FormMethod.Post, new { @class = "login100-form validate-form" }))
                                        {
                                            @Html.Hidden("Usuario1", item.Usuario1)
                                            @Html.Hidden("Cedula", item.Cedula)
                                            @Html.Hidden("Correo", item.Correo)
                                            @Html.Hidden("IdTipoUsuario", 4)

                                            <input type="submit" value="Restablecer Contraseña" class="btn btn-warning btn-sm" />
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Correo)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.Usuario1 }, new { @class = "btn btn-warning btn-sm" })  |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Usuario1 }, new { @class = "btn btn-danger btn-sm" })

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

