@model CxC_Seminario.DO.Auditoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auditoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaAfectada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaAfectada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Columna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Columna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorViejo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorViejo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorNuevo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorNuevo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAuditoria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
