@model IEnumerable<CxC_Seminario.DO.Auditoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TablaAfectada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Columna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorViejo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorNuevo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TablaAfectada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Columna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorViejo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorNuevo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAuditoria }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAuditoria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAuditoria })
        </td>
    </tr>
}

</table>
