@model CxC_Seminario.DO.LineaFactura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LineaFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncabezadoFactura.IdEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncabezadoFactura.IdEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLinea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
