@model CxC_Seminario.DO.Factura
@using CxC_Seminario.DO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@{

    IEnumerable<Usuario> usuarios = ViewData["Usuarios"] as IEnumerable<Usuario>;
    IEnumerable<Producto> productos = ViewData["Productos"] as IEnumerable<Producto>;
}

<div class="container-fluid" style="padding-top:5%">
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline12-list">
                        <div class="sparkline12-hd">
                            <div class="main-sparkline12-hd">
                                <h1>Crear Factura</h1>
                            </div>
                        </div>
                        <div class="sparkline12-graph">
                            <div class="basic-login-form-ad">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="all-form-element-inner">

                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            @Html.LabelFor(model => model.Encabezado.IdEstudiante, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                        </div>
                                                        <div class="ol-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            <div class="form-select-list">
                                                                @Html.DropDownListFor(model => model.Encabezado.IdEstudiante, new SelectList(usuarios, "Usuario1", "Usuario1"), "Seleciona el Estudiante", htmlAttributes: new { @class = "form-control custom-select-value" })
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Encabezado.IdEstudiante, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            @Html.LabelFor(model => model.Encabezado.Direccion, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                        </div>
                                                        <div class="ol-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            @Html.EditorFor(model => model.Encabezado.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Encabezado.Direccion, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="product-status mg-b-15">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div class="product-status-wrap drp-lst">
                                                                            <h4>Seleccione los elementos a facturar</h4>

                                                                            <div class="asset-inner">
                                                                                <table>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th>Se Factura?</th>
                                                                                        <th>Producto</th>
                                                                                        <th>Precio</th>
                                                                                        <th>Pago</th>
                                                                                    </tr>
                                                                                    @for (var i = 0; i < Model.Productos.Count(); i++)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                @Html.HiddenFor(it => it.Productos[i].IdProducto)
                                                                                                @i
                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.CheckBoxFor(it => it.Productos[i].isChecked, new { htmlAttributes = new { @class = "form-check-input" } })

                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.DisplayFor(it => it.Productos[i].Nombre, new { htmlAttributes = new { @class = "form-check-label" } })
                                                                                            </td>
                                                                                            <td>

                                                                                                @Html.DisplayFor(model => model.Productos[i].Precio, new { htmlAttributes = new { @class = "form-control" } })
                                                                                                @Html.HiddenFor(model => model.Productos[i].Precio, new { htmlAttributes = new { @class = "form-control" } })
                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.EditorFor(model => model.Lineas[i].Pago, new { htmlAttributes = new { @class = "form-control" } })
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="login-btn-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3"></div>
                                                            <div class="col-lg-9">
                                                                <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-custon-rounded-three btn-danger" })
                                                                    <input type="submit" value="Create" class="btn btn-sm btn-primary login-submit-cs" />

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
