@model CxC_Seminario.DO.Correo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Correo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCorreo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
