@model CxC_Seminario.DO.Iglesia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Iglesia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistritoEclesiastico.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistritoEclesiastico.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idIglesia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
